*{
    background-color: lightsalmon;
}

#main{
    color: green;
    display: block;
    text-align: center;
    border: 2px;
}

a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
p,li{
    font-size: 20px;
}
.cover{
  display: flex;
  justify-content: center;
}

h1{
    display: block;
    text-align: center;
}

.recipes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 2250px;
    margin-left: 150px;
}

.recipe{
   width: 600px;
   border: 5px solid black;
   padding: 10px;
}

.link {
display: flex;
justify-content: center;
padding-top: 5px;
}

.container{
    display: flex;
    margin-left: 50px;

}

.description{
    width:1400px;
    margin-left: 50px;
}

.ingredients {
    display: flex;
    flex-direction: column;
}

.Instructions {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}




